# G:\Mi unidad\Developer\CSS
# El repositorio local se encuentra en
# G:\Mi unidad\Developer\CSS\.git
# =============================================================
# Rutas y/o carpetas
# G:\Mi unidad\Developer\CSS
.vscode

# =============================================================
# Archivos
desktop.ini
#.gitignore
